body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;

  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #EAFF83;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
    
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }

  .game-board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .game-rules{
    position: absolute;
    top: 20%;
    left: 5%;
  }

  .game-next-piece{
    top: 20%;
    position: absolute;
    right: 20%
  }

  .next-piece{
    height: 64px;
    width: 64px;
  }

  .score{
    position: absolute;
    top: 40%;
    left: 5%;
  }

  .pieces {
    height: 62px;
    width: 62px;
  }

  